.current-weather {
  margin-top: 50px;
  background: #02418e;
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 20px;
  h3 {
    color: #fff;
  }
  .weather-icon-container {
    display: flex;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      span {
          text-transform: capitalize;
          font-size: 18px;
          font-weight: 600;
          margin-top: 5px;
      }
    }
    .temperature {
        color: red;
        font-size: 20px;
        font-weight: 600;
      }
  }
  .weather-information {
      display: flex;
      .wind {
          display: flex;
          flex-direction: column;
      }
  }
}
