.day-forecast-slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    h2 {
        margin-bottom: 20px;
    }
    section {
        width: 65%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        div {
            text-align: center;
            margin: 0 20px;
            span:last-child {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .day-forecast-slider {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        section {
            width: 80%;
            overflow-x: scroll;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            padding-bottom: 20px;
            span {
                font-size: 18px;
            }
            div {
                text-align: center;
                margin: 0 20px;
            }
        }
    }
}