nav {
  display: flex;
  height: 5vh;
  width: 100%;
  position: absolute;
  top: 0;
  background: #325573;
  .navbar-container {
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 60%;
    .left-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      .search {
        input {
          border: 1px solid transparent;
          border-radius: 25px;
          height: 25px;
          text-indent: 20px;
          &:focus {
            outline: none;
          }
        }
        .search-icon {
          position: absolute;
          top: 15px;
          left: 530px;
          color: grey;
          cursor: pointer;
        }
      }
    }
    .history-slider {
        color: #fff;
        display: flex;
        div {
          text-transform: capitalize;
      display: flex;
      padding: 0 10px;
      margin-left: 20px;
      border-right: 1px solid #fff;
      align-items: center;
        }
        img {
          margin-left: 15px;
          width: 40px;
        }
    }
  }
  .right-container {
    display: flex;
    align-items: center;
  .light-dark-switch {
    color: #fff;
    margin-right: 30px;
    display: flex;
    align-items: center;
    .fa-sun {
      margin-right: 10px;
      font-size: 20px;
    }
    .fa-moon {
      margin-left: 10px;
      font-size: 20px;
    }
    .fa-toggle-off {
      font-size: 30px;
      cursor: pointer;
    }
    .fa-toggle-on {
      font-size: 30px;
      cursor: pointer;
    }
  }
}
}


@media screen and (max-width: 768px) {
  nav {
  .navbar-container {
  .left-container {
    .history-slider {
      display: none;
      }
  .search {
  .search-icon {
    left: 225px;
    top: 15px;
  }
}
  }
}
}
}


